 $font-family: "Ubuntu", sans-serif;
 $second-family: "Work Sans", sans-serif;
 $third-family: "Roboto", sans-serif;

// Main color
$mainColor: #116ACC;
$whiteColor: #ffffff;
$blackColor: #000000;
$formColor: #F3F4F6;
$formBorder: #9ca3af;
$labelText: #182233;
$inputText: #6b7280;
$boxShadow: rgba(0, 0, 0, 0.25);
$boxBorder: rgba(0, 82, 255, 0.1);
$dotColor: #cccccc;
$dotColorRed: #FD4E5D;
$dotColorGreen: #76CA66;
$currencyBG: #e5e5e5;
$alertBG: #e5e5e5db;
$selectText: #374151;

//Button hover
$buttonhover: #a0c3ff;

